@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');
@font-face {
    font-family: hello;
    src: url(Fonts/Hello.ttf);
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    border-radius: 40px;
    width: 40%;
    border-style: double;  
    border-color: rgb(46, 66, 46);
    border-width: 5px;
    background-color: rgb(216, 227, 216);
    text-align: center;
    margin: 0 3rem;
}

.titles {
    font-family: hello;
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 0;
}

.container-content {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 10px 25px;
    font-size: large;
    font-family: 'Linden Hill';
    word-spacing: 2px;
    line-height: 25px;
    color: rgb(82, 111, 82);
}

img {
    border-radius: 10px;
    width: 200px;
}


.text-left {
    text-align: left;
}

.aboutme {
    float: left;
}

.links, .contact {
    float: right;
}

.contact {
    margin-top: 10px;
}

.link-content {
    background-color: rgb(155, 129, 133);
}

a {
    color: rgb(82, 111, 82);
    text-decoration: none;
}

ul, li {
    list-style: none;
    font-family: 'linden Hill';
    word-spacing: 5px;
    text-align: left;
    line-height: 40px;
}

a:hover {
    color: rgb(112, 126, 112);
}

h3 {
    margin-top: 15px;
    margin-bottom: 0;
}